.About {
  background-color: var(--primary-color);
  background-image: linear-gradient(
    135deg,
    var(---primary-color) 0%,
    var(--secondary-color) 100%
  );
  color: var(--white-color);
  height: 100%;
  border-top: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: 10%;
}

.Title {
  margin: 0 0 4.5rem;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.AboutWrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.AboutRow {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}

.AboutCol {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.ImgWrapper {
  display: flex;
  padding-top: 1rem;
  align-items: center;
  justify-content: center;
}

img {
  width: 300px;
  height: auto;
}

.InfoWrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.InfoText {
  text-align: left;
}

@media screen and (max-width: 320px) {
  .About {
    padding-bottom: 5rem;
  }
  .InfoWrapper {
    align-items: center;
  }
  .InfoText {
    font-size: 1.6rem;
    text-align: center;
  }
}

@media screen and (min-width: 321px) {
}

@media screen and (orientation: portrait) and (min-width: 601px) {
  .AboutWrapper {
    max-width: 540px;
  }
  .ImgWrapper {
    padding-bottom: 6.4rem;
  }
  .InfoText {
    font-size: 1.5rem;
    text-align: center;
  }
}
@media screen and (orientation: landscape) and (min-width: 901px) {
  .AboutWrapper {
    max-width: 960px;
  }
  .ImgWrapper {
    height: 100%;
  }
}
@media screen and (min-width: 1201px) {
  .AboutWrapper {
    max-width: 1140px;
  }
}
